---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
<div class="post">
{{ content }}
</div>

  <nav class="navbar navbar-default navbar-bottom navbar-ad">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="/assets/img/logo-ad.svg" height="20px">
        </a>
    <p class="navbar-text navbar-right"><a href="#" class="navbar-link"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    <p class="navbar-text navbar-right"><a href="#" class="navbar-link"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></p>
    </div>
  </nav>
